.Group {
  position: fixed;
  overflow: hidden;
}

.Background {
  position: fixed;
  background-color: #ffdc00;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.Login {
  left: 35%;
  top: 1%;
  position: fixed;
  box-sizing: border-box;
  display: inline-block;
  background: #f50057;
  padding: 20px 0 28px;
  margin: auto;
  border-radius: 5px;
  z-index: 200;
  font-family: "Noto Sans JP", sans-serif;
}

.Login img {
  display: inline-block;
}

.Input {
  width: 364px;
  margin: 20px 10px;
}

.Input label {
  text-align: left;
  text-transform: uppercase;
  display: flex;
  margin-left: 10px;
}

.Input input {
  padding: 14px 16px;
  width: 330px;
  font-size: 17px;
  border-radius: 2px;
  margin: 10px 0;
}

.Login button {
  border-radius: 5px;
  padding: 10px 15px;
  display: block;
  width: 100%;
  margin: 10px 0;
}

.Login button#Submit {
  background-color: #0074d9;
}

.Login button#Register {
  background-color: #01ff70;
}

@media (max-width: 499px) {
  .Login {
    left: 0;
    top: 0;
    width: fit-content;
    padding: 70px 0;
  }
}
